html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  margin: 0;

  // transition: all 0.3s;
  &.dark-theme {
    color: #ff6b08;
    background-color: #000000;
  }

  &.blue-theme {
    background-color: #0059b8;
    color: #fed502;
  }
}

ul,
ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 32px;
  padding-left: 32px;
  @media screen and(max-width: 320px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
};
