.footer {
  color: #545454;
  background-color: #f7f7f7;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
}

.footer__img {
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
