.loader {
  position: fixed;
  z-index: 99;
  top: -225;
  left: 0;
  width: 100%;
  height: 100%;
  // background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 56px;
  height: 56px;
}

.loader.loader__hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
// ==================
// .loader {
//   position: fixed;
//   z-index: 99;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .loader.loader__hidden {
//   animation: fadeOut 1s;
//   animation-fill-mode: forwards;
// }

// @keyframes fadeOut {
//   100% {
//     opacity: 0;
//     visibility: hidden;
//   }
// }

// .loader .ring {
//   position: relative;
//   width: 150px;
//   height: 150px;
//   margin: -30px;
//   border-radius: 50%;
//   border: 4px solid transparent;
//   border-top: 4px solid #24ecff;
//   animation: animate 2s linear infinite;
// }

// @keyframes animate {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .loader .ring::before {
//   content: '';
//   position: absolute;
//   top: 12px;
//   right: 12px;
//   border-radius: 50%;
//   width: 15px;
//   height: 15px;
//   background: #24ecff;
//   box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 20px #24ecff11,
//     0 0 20px #24ecff, 0 0 20px #24ecff;
// }

// .loader .ring:nth-child(2) {
//   animation: animate2 2s linear infinite;
//   animation-delay: -1s;
//   border-top: 4px solid transparent;
//   border-left: 4px solid #93ff2d;
// }

// .loader .ring:nth-child(2)::before {
//   content: '';
//   position: absolute;
//   top: initial;
//   bottom: 12px;
//   left: 12px;
//   border-radius: 50%;
//   width: 15px;
//   height: 15px;
//   background: #93ff2d;
//   box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 20px #93ff2d11,
//     0 0 20px #93ff2d, 0 0 20px #93ff2d;
// }

// @keyframes animate2 {
//   0% {
//     transform: rotate(360deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

// .loader .ring:nth-child(3) {
//   animation: animate2 2s linear infinite;
//   animation-delay: -3s;
//   position: absolute;
//   /* top: -66.66px; */
//   border-top: 4px solid transparent;
//   border-left: 4px solid #e41cf8;
// }

// .loader .ring:nth-child(3)::before {
//   content: '';
//   position: absolute;
//   top: initial;
//   bottom: 12px;
//   left: 12px;
//   border-radius: 50%;
//   width: 15px;
//   height: 15px;
//   background: #e41cf8;
//   box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 20px #e41cf811,
//     0 0 20px #e41cf8, 0 0 20px #e41cf8;
// }

// .loader p {
//   position: absolute;
//   color: black;
//   font-size: 1.5em;
//   font-family: consolas;
//   bottom: -80px;
//   letter-spacing: 0.15em;
// }

// ===========================
// .loader {
//   font-size: 10px;
//   margin: 50px auto;
//   text-indent: -9999em;
//   width: 11em;
//   height: 11em;
//   border-radius: 50%;
//   background: #000000;
//   background: -moz-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
//   background: -webkit-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
//   background: -o-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
//   background: -ms-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
//   background: linear-gradient(to right, #000000 10%, rgba(0, 0, 0, 0) 42%);
//   position: relative;
//   -webkit-animation: load3 1.4s infinite linear;
//   animation: load3 1.4s infinite linear;
//   -webkit-transform: translateZ(0);
//   -ms-transform: translateZ(0);
//   transform: translateZ(0);
// }
// .loader:before {
//   width: 50%;
//   height: 50%;
//   background: #000000;
//   border-radius: 100% 0 0 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: '';
// }
// .loader:after {
//   background: #ffffff;
//   width: 75%;
//   height: 75%;
//   border-radius: 50%;
//   content: '';
//   margin: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }
// @-webkit-keyframes load3 {
//   0% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// @keyframes load3 {
//   0% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
