.main {
  padding-top: 60px;
  display: flex;
  padding-bottom: 77px;
}

.films__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-wrap: wrap;
}

.films__item {
  width: calc((100% - 16px * 3) / 3);
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 32px;
  float: left;
  @media screen and(max-width: 768px) {
    width: calc((100% - 16px * 2) / 2);
  }
  @media screen and(max-width: 320px) {
    width: calc((100% - 16px * 1) / 1);
  }
}

/* .films__item {
  width: 395px;
  background-color: #188ce8;
} */

.films__list:last-child {
  margin-right: 0;
  float: right;
}

// .films__item:nth-child(3n + 3) {
//   margin-right: 0;
//   float: right;
// }
.films__item:last-child {
  margin-bottom: 60px;
}

.film_img {
  border-radius: 5px;
}

.film__name {
  margin-top: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-transform: uppercase;

  color: #000000;
  @media screen and(max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
  @media screen and(max-width: 320px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.film__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  color: #ff6b08;
  @media screen and(max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
  @media screen and(max-width: 320px) {
    font-size: 12px;
    line-height: 16px;
  }
}
.pagination__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  margin-bottom: 60px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  width: 40px;
  height: 40px;
  color: #000;
  float: left;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a.active {
  background-color: #ff6b08;
  color: white;
  border-radius: 5px;
}

.pagination .pagination__arrow {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 5px;
  &:hover {
    background-color: #ff6b08;
  }
  &:focus {
    background-color: #ff6b08;
  }
}

.pagination a:hover:not(.active) {
  background-color: silver;
  color: #fff;
  border-radius: 5px;
}

.pagination__arrow_prev {
  margin-right: 5px;
  background-image: url('../images/left_arrow.svg');
  &.pagination__arrow_prev:hover {
    background-image: url('../images/left_arrow-white.svg');
  }
}

.pagination__arrow_next {
  margin-left: 8px;
  background-image: url('../images/right_arrow.svg');
  &.pagination__arrow_next:hover {
    background-image: url('../images/right_arrow-white.svg');
  }
}
