<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <p class="footer_text">© 2022 | All Rights Reserved |</p>

      <div class="footer_text-block">
        <p class="footer_text">&nbspDeveloped with</p>
        <img src="/src/images/heart.svg" alt="" class="footer__img" />

        <button type="button" class="footer-btn" data-modal-open>
          <span class="footer-btn-text"> GoIT Students</span>
        </button>
      </div>
    </div>
  </div>
</footer>
