<header class="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav">
        <div><a href="index.html" class="logo"></a></div>

        <div class="menu__container" data-menu>
          <ul class="header__list">
            <li class="header__item">
              <a href="index.html" class="header__link header__link-current">Home </a>
            </li>
            <li class="header__item">
              <a href="library.html" class="header__link">my library</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="search__box">
        <form class="search_form">
          <input type="search" name="searshQuery" placeholder="Movie search" class="search" />
          <button type="submit">Search</button>
        </form>
        <span class="search_warning"></span>
      </div>
      <div class="reg__container">
        <div class="more-button">
          <div class="more-button_img"><div></div></div>
        </div>
        
          <div class="more-button-list">
              <input type="text" placeholder="Login" class="reg__input">
              <input type="text" placeholder="Password" class="reg__input">
              <button class="login__button">Login</button>
               <button class="signup__button">Sign Up</button>
               <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
          </div>
      </div>
      
      </div>
    </div>
  </div>
</header>
