<header class="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav">
        <div class="logo"></div>

        <div class="menu__container" data-menu>
          <ul class="header__list">
            <li class="header__item">
              <a href="./index.html" class="current header__link">Home </a>
            </li>
            <li class="header__item">
              <a href="" class="header__link">my library</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="search__box">
        <form>
          <input type="search" placeholder="Movie search" class="search" />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</header>
