<header class="header header-library dark-theme">
  <div class="container header__container-library dark-theme">
    <div class="header__container">
      <nav class="header__nav">
        <div><a href="index.html" class="logo"></a></div>

        <div class="menu__container" data-menu>
          <ul class="header__list">
            <li class="header__item">
              <a href="index.html" class="header__link ">Home</a>
            </li>
            <li class="header__item">
              <a href="library.html" class="header__link header__link-current">my library</a>
            </li>
             <li class="header__item"> 
              <label class="switch">
                <input type="checkbox" class="change__bg-color change__bg-color-library">
                <span class="slider round"></span>
              </label>
            </li>
          </ul>
        </div>
      </nav>
      <div class="button__box">
        <button class="header__library-button-watch">Watched</button>
        <button class="header__library-button-queue">queue</button>
      </div>
      
      <!-- <div class="reg__container">
        <div class="more-button">
          <div class="more-button_img"><div></div></div>
        </div>
        
          <div class="more-button-list">
              <input type="text" placeholder="Login" class="reg__input">
              <input type="text" placeholder="Password" class="reg__input">
              <button class="login__button">Login</button>
               <button class="signup__button">Sign Up</button>
               <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
          </div>
      </div> -->
      
      </div>
    </div>
  </div>
</header>
