<main class="main">
  <div class="container">
    <ul class="films__list" data-movies>
      <!-- <li class="films__item">
        <img src="./images/f1.jpg" alt="" />

        <p class="film__name">GREYHOUND</p>
        <p class="film__description">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/f2.jpg" alt="" class="film_img" />
        <p class="film__name">GREYHOUND</p>
        <p class="film__description">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/f3.jpg" alt="" class="film_img" />
        <p class="film__name">GREYHOUND</p>
        <p class="film__description">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/f4.jpg" alt="" class="film_img" />
        <p class="film__name">GREYHOUND</p>
        <p class="film__description">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/f5.jpg" alt="" class="film_img" />
        <p class="film__name">GREYHOUND</p>
        <p class="film__description">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/f5.jpg" alt="" class="film_img" />
        <p class="film__name">GREYHOUND</p>
        <p class="film__description">Drama, Action | 2020</p>
      </li> -->
    </ul>
    <div class="pagination__container">
      <div class="pagination" id="pagination">
        <!-- <a href="#" class="pagination__arrow pagination__arrow_prev"></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#" class="pagination__arrow pagination__arrow_next"></a> -->
      </div>
    </div>
  </div>
</main>
