<div class="backdrop js-backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close>
      <svg
        class="close-icon close_modal"
        width="25"
        height="25"
        viewBox="0 0 30 30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 8L22 22"
          stroke="black"
          stroke-width="2"
          class="close_modal"
        />
        <path
          d="M8 22L22 8"
          stroke="black"
          stroke-width="2"
          class="close_modal"
        />
      </svg>
    </button>
    <img class="title-team" src="/src/images/Nashkodiv.png" alt="" />
    <!-- <h1 class="title-team"></h1>       -->
    <section class="splide"></section>
    <section class="splide">
      <div class="splide__track">
        <ul class="team-list splide__list">
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/dmytrik" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/DmytroSamoilenko.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Dmytro Samoilenko</h3>
              <h4 class="title">Team Lead</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/LisaLyakh" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/YelyzavetaLyakh.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Yelyzaveta Lyakh</h3>
              <h4 class="title">Scrum Master</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/OlehStarko" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/OlegStarko.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Oleg Starko</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/MaxRohivskyi" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/MaximRohivskyi.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Maxim Rohivskyi</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/Yurijfedor" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/YuriShaklak.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Yuri Shaklak</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/vladislavzmaga" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/VladyslavZmaga.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Vladyslav Zmaga</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/tizenmile" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/YaroslavMaly.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Yaroslav Malyi</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/Stereoboi" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/BohdanPishchak.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Bohdan Pishchak</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/Viacheslav-Malyi" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/ViacheslavMalyi.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Viacheslav Malyi</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/Anatolij007" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/Anatoly Sotnikov.png"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Anatoly Sotnikov</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com/OlegKravinskyy" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/Oleg Kravinskyy.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Oleg Kravinskyy</h3>
              <h4 class="title">Developer</h4>
            </div>
          </li>
          <li class="our-team splide__slide">
            <div class="picture">
              <a href="https://github.com" target="_blank"
                ><img
                  class="img-fluid"
                  src="/src/images/modal-team/Bandera.jpg"
                  alt="avatar"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">Stepan Bandera</h3>
              <h4 class="title">Mastermind</h4>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
